
@media (max-width : 768px) {
    .servicio-f{
        width: 100% !important;
        text-align: center;
        box-shadow: 5;
    }
    
#informacion{
    position: relative;
    top: -110px;
}
}


@media (max-width : 576px){
    .icono-w{
        flex-wrap: wrap;
        justify-content: center !important;
    }
}

/*body{
    background-image: linear-gradient(135deg,
    #00B1D4,#505488,#2F3F80,#161569,#5A4894,#A950A1,#FF7CAE);
    background-size: auto;
}*/

body{
   background-color: azure;
    background-size: auto;
    
    
}

.color-background{
    background-color: #01BAEF;
}

#informacion{
    position: relative;
}

.servicio-f:hover {
    background-color: #b2b2b2;
    cursor: pointer;
    font-weight: bold;
    border-radius: 15px;

}

div {
    border-radius: 14px;
}